@{
    ViewData["Title"] = "Vouchers Procesados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-auto me-auto">
            <div class="row row-cols-auto">
                <div class="col">
                    <div class="mb-3">
                        <label for="fecIni" class="form-label">Fecha Inicial</label>
                        <input type="date" class="form-control" id="fecIni" autocomplete="off" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="fecFin" class="form-label">Fecha Final</label>
                        <input type="date" class="form-control" id="fecFin" autocomplete="off" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="btnBuscar" class="form-label">&nbsp;</label>
                        <button id="btnBuscar" type="button" class="form-control btn btn-primary">
                            <i class="ion ion-md-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<div id="div_table" class="table-responsive">

</div>

@section Scripts
{

    <script>
        var url_selectCompany = "@Url.Content("~/")" + "SelectCompany/IndexSelect";

        var url_GetVouchersProcesados = "@Url.Content("~/")" + "Movilidad/GetVouchersProcesados";
    </script>

    <script src="@Url.Content("~/scripts/VouchersProcesados.js")"></script>
}